
// ######################### Om oss ##############################
#companyPage{
    margin: 0px 60px;
}
.companyPageText{
    padding: 1.5rem 3rem .5rem 3rem; 
}
.companyImage {
    height: 400px;
    width: 590px;
    max-width: 100%;
    border-radius: 20px;
}
.companySection{
    margin-bottom: 80px;
}
.employeCard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;

    // align-items: center;
    // flex-direction: column;
    .cardEmploye{
        min-height: 260px;
        width: 240px;
        background-color: $hover-color2;
        border: 1px solid $primary-color;
        box-shadow: 5px 10px 18px 10px $color-shadow;
        border-radius: 10px;

        // cursor: pointer;
    }
    .cardEmploye:hover{
        cursor: pointer;
        transform: scale(1.1);
        transition: 500ms;
    }
}