
// ######################### Meny ##############################
#productItem{
    margin-bottom: 80px;
}
.cardStyle{
    margin: 20px auto;
    width: 15rem;
    height: 400px;
    padding: 10px 10px;
    overflow-y: scroll;             /* Scroll through text */
    scrollbar-width: none;          /* Firefox */
    -ms-overflow-style: none;       /* IE 10+ */
}
.cardStyle::-webkit-scrollbar{      /* WebKit */
    width: 0px;
}