* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  color: #333;
  background-color: white;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  margin-bottom: 5rem;
}

.nav-image {
  width: 5rem;
  max-width: 100%;
  border-radius: 3rem;
  margin-left: 1rem;
}

.navBackground {
  background-color: #111;
}

.navHamIcon {
  color: #b69f6d;
}

.navTextColor {
  color: #b69f6d;
}

.navTextColor:hover {
  color: #b7b7b7;
}

h1 {
  margin: 0 0 0 1em;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3rem;
  color: #b69f6d;
}

.startPageText {
  padding: 3rem 3rem 0.5rem 3rem;
}

h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #333333;
}

.heading {
  padding: 40px 40px;
}

.strtImage {
  height: 320px;
  width: 620px;
}

#product {
  margin: 0px 60px;
}

.productImage {
  height: 520px;
  width: 320px;
  padding: 10px 10px;
  border-radius: 20px;
}

#promotion {
  padding: 80px 80px 0px;
}

.promo {
  min-height: 420px;
  margin-bottom: 40px;
}

.promoImage {
  height: 400px;
  width: 590px;
  max-width: 100%;
}

#app {
  padding: 80px 80px 0px;
  margin-bottom: 120px;
}

.app.connect {
  padding: 0px 40px 40px;
}

.appImage {
  height: 420px;
  width: 680px;
}

.btnstartPage {
  margin: 0.5rem 0 0 3rem;
  background-color: #007b5e;
}

#productItem {
  margin: 20px 20px;
}

.cardStyle {
  margin: 20px auto;
  width: 18rem;
}

.reviewContent {
  margin: 20px 40px 60px;
}

.reviewPage {
  margin-bottom: 100px;
}

#companyPage {
  margin: 0px 60px;
}

.companyText {
  padding-bottom: 40px;
}

.companyImage {
  height: 420px;
  width: 620px;
}

.companySection {
  margin-bottom: 80px;
}

.contact {
  margin-bottom: 5rem;
}
.contact .address {
  line-height: 2;
  margin-left: 30px;
}
.contact h3 {
  font-size: 60px;
}
.contact p {
  font-size: 26px;
}
.contact .companyImage {
  max-width: 100%;
  height: 500px;
}

.footer {
  background-color: #111;
  padding-top: 4rem;
  margin-top: auto;
}

.footer-logo {
  margin-bottom: 1rem;
}

.imgLogo {
  width: 5rem;
  max-width: 100%;
  border-radius: 3rem;
  margin-left: 2rem;
}

.footer-social {
  margin: 2rem 0;
}

.footer-social-icon {
  margin: 0 1rem 0 0;
  color: #b69f6d;
}

.footer-social-icon:hover {
  color: #b7b7b7;
}

.footer-widget {
  margin-bottom: 2rem;
}
.footer-widget h3 {
  color: #b69f6d;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.footer-widget ul {
  padding-left: 0;
}
.footer-widget li {
  font-size: 1rem;
  line-height: 2rem;
  list-style: none;
}
.footer-widget a {
  text-decoration: none;
  color: #b7b7b7;
}
.footer-widget .container {
  color: #b7b7b7;
  font-size: 1rem;
  line-height: 2rem;
}
.footer-widget .emailSpace {
  display: block;
  width: 320px;
  max-width: 100%;
}
.footer-widget .btnSubmit {
  color: #b7b7b7;
  background-color: #111;
  border-color: #b69f6d;
  margin-top: 0.8rem;
}
.footer-widget .copyright {
  color: #b7b7b7;
  font-size: 0.5rem;
}/*# sourceMappingURL=style.css.map */