.navbar {
  margin-bottom: 5rem;
}

.nav-item {
  margin: 0 26px;
  padding: 5px 10px;
}

.nav-image {
  width: 5rem;
  max-width: 100%;
  border-radius: 3rem;
  margin-left: 1rem;
}

.navBackground {
  background-color: #111;
}

.navHamIcon {
  color: #b69f6d;
}

.navTextColor {
  color: #b69f6d;
}

.navTextColor:hover {
  color: #b7b7b7;
}

.footer {
  background-color: #111;
  padding-top: 4rem;
  margin-top: auto;
}

.footer-logo {
  margin-bottom: 1rem;
}

.imgLogo {
  width: 5rem;
  max-width: 100%;
  border-radius: 3rem;
  margin-left: 2rem;
}

.footer-social {
  margin: 2rem 0;
}

.footer-social-icon {
  margin: 0 1rem 0 0;
  color: #b69f6d;
}

.footer-social-icon:hover {
  color: #b7b7b7;
}

.footer-widget {
  margin-bottom: 2rem;
}
.footer-widget h3 {
  color: #b69f6d;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
.footer-widget ul {
  padding-left: 0;
}
.footer-widget li {
  font-size: 1rem;
  line-height: 2rem;
  list-style: none;
}
.footer-widget a {
  text-decoration: none;
  color: #b7b7b7;
}
.footer-widget .container {
  color: #b7b7b7;
  font-size: 1rem;
  line-height: 2rem;
  padding-left: 0;
}
.footer-widget .emailSpace {
  display: block;
  width: 320px;
  max-width: 100%;
  padding: 5px 10px;
}
.footer-widget .btnSubmit {
  color: #b7b7b7;
  background-color: #111;
  border-color: #b69f6d;
  margin-top: 0.8rem;
}
.footer-widget .btnSubmit:hover {
  color: #b69f6d;
}
.footer-widget a:hover {
  color: #b69f6d;
}
.footer-widget .copyright {
  color: #b7b7b7;
  font-size: 0.5rem;
}

#title {
  margin-bottom: 5rem;
}

h1 {
  margin: 0 0 0 3rem;
  text-transform: uppercase;
  font-weight: 600;
  font-style: italic;
  font-size: 3rem;
  color: #b69f6d;
}

.startPageText {
  padding: 1.5rem 3rem 0.5rem 3rem;
}

h2 {
  margin: 0 0 0 3rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  color: #b69f6d;
}

.product .chSpecial:hover {
  color: #b61560;
}

.heading .text {
  margin-bottom: 80px;
}
.heading .strtImage {
  height: 400px;
  width: 590px;
  max-width: 100%;
  border-radius: 20px;
}

.readMore {
  text-decoration: none;
  color: #333;
}

.readMore:hover {
  color: #fff;
}

#product {
  margin-bottom: 120px;
}

.productImage {
  height: 500px;
  width: 320px;
  padding: 10px 10px;
  border-radius: 20px;
}

#promotion {
  margin-bottom: 5rem;
}

.promoImage {
  height: 400px;
  width: 590px;
  max-width: 100%;
  border-radius: 20px;
  margin-bottom: 80px;
}

#app {
  margin-bottom: 120px;
}

.app.connect {
  margin-bottom: 80px;
}

.appImage {
  height: 400px;
  width: 590px;
  max-width: 100%;
  border-radius: 20px;
}

.btnstartPage {
  margin: 0.5rem 0 0 3rem;
  border-color: #b69f6d;
  color: #333;
  text-transform: uppercase;
}

.btnProduct {
  margin: 0;
}

.btnstartPage:hover {
  background-color: #b69f6d;
}

#productItem {
  margin-bottom: 80px;
}

.cardStyle {
  margin: 20px auto;
  width: 14rem;
}

#companyPage {
  margin: 0px 60px;
}

.companyPageText {
  padding: 1.5rem 3rem 0.5rem 3rem;
}

.companyImage {
  height: 400px;
  width: 590px;
  max-width: 100%;
  border-radius: 20px;
}

.companySection {
  margin-bottom: 80px;
}

.employeCard {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-bottom: 20px;
}
.employeCard .cardEmploye {
  min-height: 260px;
  width: 240px;
  background-color: #b61560;
  border: 1px solid #111;
  box-shadow: 5px 10px 18px 10px #888;
  border-radius: 10px;
}
.employeCard .cardEmploye:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 500ms;
}

.reviewContent {
  margin: 20px 40px 60px;
}
.reviewContent p {
  padding: 2rem 3rem;
}

.reviewPage {
  margin-bottom: 100px;
}

.contact {
  margin-bottom: 5rem;
}
.contact h2 {
  font-size: 40px;
}
.contact p {
  padding: 0 3rem 0.5rem 3rem;
  font-size: 26px;
}
.contact .companyImage {
  max-width: 100%;
  height: 500px;
}
.contact .form {
  display: block;
  width: 520px;
  max-width: 100%;
  margin: 16px 0;
  padding: 10px 10px;
  border: 1px solid #b69f6d;
  border-radius: 5px;
}
.contact .formMh2 {
  margin-bottom: 20px;
}
.contact .formMp {
  font-size: 16px;
}

.catchPhrase {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.catchPhrase p {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
  font-style: oblique;
  color: #b69f6d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: Montserrat, sans-serif;
  font-size: 1.125rem;
  line-height: 1.6;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */